.signup-form-modal {
  padding: 20px;
  width: 300px;
  border: 2px solid #bcbcbc;
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-label {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.signup-button {
  background-color: #23588d;
  color: white;
  padding: 6px 0 6px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 30%;
  align-self: center;
}

.signup-form-stuff {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.signup-form-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: flex-end;
}

.signup-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signup-modal-input {
  height: 14px;
}
