.delete-task-modal-container {
  border: 2px solid #bcbcbc;
  width: 240px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.delete-task-header {
  align-self: center;
}

.delete-task-modal-button-container {
  display: flex;
  gap: 15px;
}

.delete-modal-button {
  height: 30px;
  width: 85px;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.confirm-delete-button {
  background-color: #ff0000;
}

.cancel-delete-button {
  background-color: grey;
}
