.profile-dropdown {
  position: absolute;
}

li {
  list-style-type: none;
}

.sidebar {
  height: 100%;
  width: 15%;
  border-right: 1px solid #bcbcbc;
  box-shadow: 0 0 10px #bcbcbc;
}

.profile-section {
  margin-bottom: 100px;
}

.new-note-button {
  background-color: #133c64;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  width: 150px;
  margin: 5px;
}

.new-note-button:hover {
  background-color: #175088;
}
