.profile-dropdown {
  position: absolute;
}

.profile-section {
  border: 1px solid red;
  height: 8%;
  width: 99%;
}

li {
  list-style-type: none;
}

.sidebar {
  height: 100vh;
  width: 15%;
  border-right: 1px solid #bcbcbc;
  box-shadow: 0 0 12px rgba(188, 188, 188, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main-content {
  margin-left: 15%;
  height: 100vh;
  width: 100%;
}

.new-note-button:hover {
  background-color: #175088;
}

.nav-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.nav-small-button-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.nav-small-button {
  width: 38%;
}
.new-notebook-button {
  width: 80%;
  background-color: #ea9828;
}

.new-note-button {
  background-color: #133c64;
  color: white;
  align-items: center;
}

.nav-button-height {
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.new-task-button {
  background-color: #b378ee;
}

.nav-link-box {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  width: 80%;
  height: 70%;
}

.nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.nav-item {
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
}

.nav-icon {
  height: 20px;
  background: none;
  mix-blend-mode: multiply;
  margin-right: 4px;
}

.home-icon {
  height: 20px;
  background: none;
  mix-blend-mode: multiply;
  margin-right: 4px;
}

.tag-icon {
  height: 17px;
  margin-right: 4px;
}
