.profile-dropdown {
  position: absolute;
}

.profile-section {
  margin-bottom: 100px;
}

li {
  list-style-type: none;
}

.sidebar {
  height: 100vh;
  width: 15%;
  border-right: 1px solid #bcbcbc;
  box-shadow: 0 0 10px #bcbcbc;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
}

.main-content {
  margin-left: 15%;
  height: 100vh;
  width: 100%;
}

.new-note-button {
  background-color: #133c64;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  width: 150px;
  margin: 5px;
}

.new-note-button:hover {
  background-color: #175088;
}
